.modal_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.modal_list .modal_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.modal_input{
    border: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    box-shadow: 0px 0px 0px #FFF;
}

.modal_input:focus{
    box-shadow: 0px 0px 0px #FFF;

    border: 0;
}

@media screen and (max-width: 1000px){
    .modal_list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .modal_list .modal_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        white-space: nowrap;
    }
    .modal_input{
        border: 0 !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: auto;
        box-shadow: 0px 0px 0px #FFF;
    }
}