
.container_home{
    height: 100%;
    min-height: 100vh;
    background: #FFF;

    padding: 50px 40px !important;
}
.container_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.table_my .container_loading{
    position: absolute;
    width: 100%;
    padding: 20px 0;
    right: 0;
}
.table_my .container_loading .loading{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.container_home .container_cadastro{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.container_home .container_filter{
    padding: 0;
}
.container_home .container_filter .caixa-in{
    width: 100%;
    padding: 15px 0;
    display: flex;
}
.ct_l{
    width: 80px;
    display: flex;
}

.f_g{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
}
@media screen and (max-width: 750px){
    .f_g{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .container_home .container_filter .caixa-in{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container_home .container_filter .caixa-in .ct_l{
        display: flex;
        flex-direction: row;
    }
    .container_home .container_filter .caixa-in .ct-input{
        display: flex;
        flex-direction: row;
        width: 230px !important; 
        padding: 10px 0;
    }
    .container_home .container_filter .caixa-in .ct_button_header{
        display: flex;
        justify-content: center !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .container_home .container_filter .caixa-in .ct_button_header button{
        margin: 0 20px !important;
        width: 80px;
    }
    .container_cadastro{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
    .container_cadastro .button_cadastro{
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }
    .container_home{
        padding: 0 !important;
    }
}
.container_cadastro{
    display: flex;
    align-items: center !important;
}
.container_cadastro .button_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px !important;
}
.container_home .container_filter .caixa-in .ct-input{
    display: flex;
    flex-direction: row;
    width: 200px;
    padding: 10px 10px;
}
.container_home .container_filter .caixa-in .ct_button_header{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container_home .container_filter .caixa-in .ct_button_header button{
    margin: 0 10px;
}
.container_cadastro .button_cadastro{
    width: 100%;
    border: 0;
    margin: 15px 0;
}
.container_home .container_filter .form-control:focus{
    box-shadow: 0 0 0 #FFF;
}
.container_home .table_my tbody tr{
    transition: background 0.2s !important;
    background: #FFF;
}
.container_home .table_my tbody tr:hover{
    background: rgb(242, 242, 242) !important;
}
.container_home .table_my thead tr{
    background: #DDD;
}
.container_home .table_my thead tr td a{
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.container_home .table_my thead tr td{
    color: #555;
    font-weight: 500;
}
.container_home .table_my tbody tr{
    border-width: 0 !important;
}
.container_home .table_my tbody tr th{
    color: #555;
    font-family: 'Roboto', Arial;
    font-weight: 500;
}
.container_home .table_my tbody tr .button_al{
    margin: 5px 15px;
    padding: 3px 10px;
    color: #FFF;
}
.container_home .table_my tbody tr .dub-id{
    font-weight: 700;
}