.container_header{
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
    background: #f8f9fa;
    box-shadow: 0px 1px 8px #DDD;
}

.header{
    height: 100%;
}

.container_logo{
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_logo img{
    width: 100%;
    height: 100%;
}

.Logout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}